doctype html
html
  head
    title Love Wins
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='author' content='Codrops')
    link(rel='stylesheet' href='/stylesheets/normalize.css')
    link(rel='stylesheet' href='/stylesheets/demo.css')
    link(rel='stylesheet' href='/stylesheets/icons.css')
    link(rel='stylesheet' href='/stylesheets/home.css')
    script(src='/javascripts/modernizr.custom.js')
  body
    block content
